@import url(http://fonts.googleapis.com/css?family=Pompiere|Raleway+Dots|Arimo|Open+Sans+Condensed:300);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Poppins:400,300|Imprima|Orienta|Hind+Vadodara:400,300\Roboto:400,300);


$red: #F74646;
$overlayPnk: rgba(255, 219, 219, 0.7);
$overlayBlk: rgba(20,20,20,0.9);
$text: #333;
$gray-80: #808080;
$gray-a: #aaa;
$gray-ea: #eaeaea;
$white: #fff;
$white-09: rgba(255,255,255,.9);
$header-bg: rgba(247, 247, 247, .9);
$aqua: #36DADE;

$bg-color-1: rgba(64,64,64,1);
$bg-color-09: rgba(64,64,64,.9);
$bg-color-0: rgba(64,64,64,0);


$header-height: 7rem;




