  .headers { 
    height: auto;
    margin: 0 auto;
    text-decoration: none;
    width: 61rem;
  }

  .headers div {
    display: inline-block;
  }

  .headers div > * {
    display: inline-block;
    margin-left: 1rem;
  }

  .logo {    
    display: inline-block;
    margin-bottom: -.6rem;
    width: 5rem;
  }

  h1 {
    font-size: 5.5rem;
  }

  .job-title {
    font-size: 3rem;
  }
// ====================== 
// header
// ======================

header[role=banner] {
  align-items: center;
  background: $header-bg;
  border-bottom: 1px solid $aqua;
  display: flex;
  height: $header-height;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 50;
}

.nav-show header[role=banner] {
  background: rgba($header-bg, 1);
}

.nav-hide header[role=banner]:after {
  background: linear-gradient(to bottom, 
    rgba(0, 0, 0, .3) 0%, 
    rgba(0, 0, 0, 0) 100%);
  top: $header-height;
  content: "";
  display: block;
  left: 0;
  height: 7px;
  position: fixed;
  width: 100%;
}

.headers { 
  text-decoration: none;
  perspective: 50rem;
}

.logo {
  transition: transform .5s ease;
}

.headers:focus .logo,
.headers:hover .logo {
  transform: rotateY(360deg);
}

.headers:focus h1,
.headers:hover h1 {
  color: $red;
  transition: color .3s;
}

h1 {
  color: $text;
  font-family: 'Hind Vadodara', sans-serif;
  font-weight: 300;
  margin: 0;
  transition: color .3s;
}

.job-title {
  color: #555;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
  margin: -2rem 0 0 0;
}

.page > h2 {
  background: $overlayBlk;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  border-bottom: 1px solid $aqua;
  color: $white;
  color: transparent;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 12rem;
  font-weight: 100;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  margin-top: 0;
  padding: 1rem;    
  
}

h3 {
  border-bottom: 2px solid $aqua;
  color: $gray-80;
  font-size: 4rem;
  font-weight: 100;
  margin: 0 0 2rem 0;
  text-align: center;
}

h4 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 0.5rem;
}


p {
  color: $text;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

p a {
  color: inherit;
  transition: color .3s;
}

p a:focus,
p a:hover {
  color: $aqua;
  outline: none;
  transition: color .3s;
}

p.note,
p sup {
  font-size: 1.2rem;
}

p.note {
  text-align: right;
}

.show {
  display: block !important;
}

.flex {
  display: flex !important;
}

ul {
  list-style: none;
}

main li { 
  padding-left: 0;
  text-indent: -.2rem;
}

main li:before {
  color: $aqua;
  content: "\2022";
  font-size: 2rem;
  margin-left: -1rem;
  margin-right: 0.6rem;
  position: relative;
  top: 2px;
}

.page .material-icons{
  font-size: inherit;
  vertical-align: text-top;
}

