<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="description" CONTENT="Miwa Yagi, Front end developer, Design Technologist, resume">
  <meta name="keywords" CONTENT="HTML5, CSS3, javascript, angular.js, d3.js">
  <title>Miwa Yagi | Front end developer | Design Technologist</title>
  <link href='http://fonts.googleapis.com/css?family=Pompiere|Raleway+Dots' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <script src="js/prefixfree.min.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->

  <link rel="stylesheet" href="css/style.css" media="only screen and (min-device-width: 668px)">
    <link rel="stylesheet" href="css/style-mobile.css" media="only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)" />
  <link rel="icon" type="image/png" href="img/favicon.png" />

  <script src="lib/angular/angular.min.js"></script>
  <script src="js/controllers.js"></script>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>

<body data-spy="scroll" data-target=".nav-wrapper" data-offset="200">
<div class="page-wrapper">
  <header>
    <h1><span>Miwa</span> <span>Yagi</span></h1>

    <nav>
      <div class="nav-wrapper collapse navbar-collapse" id="collapse" role="navigation">
        <ul class="nav">
          <li class="active"><a href="#resume">home</a></li>
          <li><a href="#bio">bio</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div><!-- collapse navbar-collapse -->
    </nav>

  </header>
  <main>
    <section class="resume page" id="resume">
      <header>
        <h2>resume</h2>
      </header>
      <article>
        <div class="container">
          <h2>I am interested in:</h2>
          <div id="chart-buzzwords"></div>
          <h2>Experience:</h2>
          <div id="chart-skills"></div>
          <div class="experience" ng-controller="MyController">
              <h2>Work Experience: </h2>
              <div ng-repeat="item in works">
                <p class="time end">{{ item.time.end }}</p>
                <h2 class="title">{{ item.title }}</h2>
                <p class="company">{{ item.company }}</p>
                <p class="skill">{{ item.skill }}</p>
                <p class="detail" ng-repeat="detail in item.detail">{{ detail }}</p>
                <p class="more" ng-repeat="more in item.more">{{ more }}</p>
                <p class="time start">{{ item.time.start }}</p>
              </div>
              <h2>Education: </h2>
              <div ng-repeat="item in education">
                <h3 class="course">{{ item.course }}</h3>
                <p class="school">{{ item.school }}</p>
                <p class="subjects">{{ item.subjects }}</p>
              </div>
          </div>
        </div>
      </article>
    </section>

    <section class="bio page" id="bio">
      <header>
        <h2>biography</h2>
      </header>
      <article>
        <div class="text">
          <p>In my personal life, I have many things that I am passionate about.</p>

          <p>First of all, I have been practicing yoga for over a decade. In 2008, I earned a 200 hours Hatha yoga teacher certification from Sivananda Yoga Institute. I currently practice at Integral Yoga Institute.</p>

          <p>I also love cooking and baking, mostly vegan or vegetarian. I have immense love of sharing food I make with my friends. My Oatmeal cookies are irresistible!</p>

          <p>When the weather is nice out, I enjoy hiking, camping and swimming. There is nothing like being surrounded by nature.</p>

          <p>Giving back to our community is another passion of mine. I have contributed to numerous organizations for people with terminal illness and underprivileged children.</p>

          <p>I reside in Roosevelt Island where I find it a very relaxing environment to live.</p>

          <p>I adopted a cat recently. His name is Love who brightens my life.</p>
        </div>
        <div class="image">
          <img src="img/love.jpg" alt="A cat called Love">
        </div>
      </article>
    </section>


    <section class="contact page" id="contact">
      <header>
        <h2>contact</h2>
      </header>
      <article>
        <a href="https://www.linkedin.com/in/miwayagi" class="linkedin" target="_blank">Please contact me via linkedIn.</a>
        <a href="https://github.com/peeweemiwie" class="github" target="_blank">Feel free to peek through my code on github.</a>
      </article>
    </section>
  </main>
  <footer>
    <nav>
      <div class="nav-wrapper collapse navbar-collapse" id="collapse" role="navigation">
        <ul class="nav">
          <li class="active"><a href="#resume">home</a></li>
          <li><a href="#bio">bio</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div><!-- collapse navbar-collapse -->
    </nav>
  </footer>
</div>
<a href="img/miwa-yagi-091215.pdf" target="blank" class="download">View and Download Resume</a>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/script.js"></script>
<script src="js/barchart.js"></script>
<script src="js/bubble.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-15830902-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
