<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Miwa Yagi 😺 Design Technologist</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/png" href="images/favicon.png" />
</head>

<body ng-app="portfolio" class="nav-hide">
<header role="banner">
  <a href="#" class="headers">
    <img class="logo" src="images/logo.svg" alt="Miwa Yagi logo">
    <div>
      <h1>Miwa Yagi</h1>
      <h2 class="job-title">Design Technologist</h2>
    </div>
  </a>
</header>  

<div class="page-wrapper">
  <section class="content">

    <nav role="navigation" class="main-nav">
      <button class="menu" title="Navigation links"><i class="material-icons">list</i></button>
      
      <ul class="main-nav-list">
        <li><a href="#experience" data-link="experience">Experience</a></li>
        <li><a href="#portfolio" data-link="portfolio">Portfolio</a></li>
        <li><a href="#bio" data-link="bio">Bio</a></li>
        <li><a href="#contact" data-link="contact">Contact</a></li>
      </ul>
    </nav>

    <main role="main" ng-controller="MyController">
 
<!-- ======================
experience page 
====================== -->     
      <section class="page experience" id="experience">

        <h2>Experience</h2>
        
          <div class="col">
            <h3><i class="material-icons">work</i> Work</h3>

            <div ng-repeat="item in works" class="container work">
              <div class="section-title">
                <p class="bubble end">{{ item.time.end }}</p>
                <h4 class="title">{{ item.title }} - <span class="company">{{ item.company }}</span></h4>
                <p class="bubble start">{{ item.time.start }}</p>
              </div>
              
              <ul>
                <li class="detail" ng-repeat="detail in item.detail">{{ detail }}</li>
                <ul>
                  <li class="more" ng-repeat="more in item.more">{{ more }}</li>
                </ul>
              </ul>
            </div>
          </div>

          <div class="col">

            <h3><i class="material-icons">subject</i> Summery</h3>
            <h4>front-end:</h4>
            <p class="keyword-wrapper">
              <span class="keyword" ng-repeat="item in frontend">{{ item }}</span>
            </p>

            <h4>design:</h4>
            <p class="keyword-wrapper">
              <span class="keyword" ng-repeat="item in design">{{ item }}</span>
            </p>

            <h4>interest:</h4>
            <p class="keyword-wrapper">
              <span class="keyword" ng-repeat="item in interest">{{ item }}</span>
            </p>

            <h3><i class="material-icons">school</i> Education</h3>
            <div ng-repeat="item in education" class="container">
              <h4>{{ item.course }} - {{ item.school }}</h4>
              <p>{{ item.subjects }}</p>
            </div>

            <h3><i class="material-icons">translate</i> Language</h3>
            <div class="container">
              <p>Fluent in English and Japanese.</p>
              <p lang="js">日本語と英語が流暢に話せます。</p>
            </div>

            <h3><i class="material-icons">description</i> Resume</h3>
            <p><i class="material-icons">file_download</i> <a href="https://docs.google.com/document/d/1hJoinSRnQ7sWBUD5Qbd_R_fLVD4n8PU4Rt1LdtiF1wE/edit?usp=sharing" target="_blank">Download Resume </a></p>
            
          </div>        
      </section>

<!-- ======================
portfolio page 
====================== -->

      <section class="page portfolio" id="portfolio">     
        <h2>Portfolio</h2>
        <div class="col">
          <h3><i class="material-icons">code</i> Front End</h3>
        
        <div class="container">
          <div class="section-title">
            <h4>
              <span class="bubble icon start"><i class="material-icons">&#xE30B;</i></span> github and codepen
            </h4>
          </div>

          <p><a href="https://github.com/peeweemiwie" class="github link" target="_blank"><img src="images/p-octocat.png" alt="github icon" class="link-icon" title="A link to Miwa's github."  target="_blank"><span>github</span></a></p>

          <p><a href="http://codepen.io/peeweemiwie/pens/public/" class="codepen link" target="_blank"><img src="images/logo-codepen.svg" alt="codepen icon" class="link-icon" title="A link to Miwa's codepen."  target="_blank"><span>codepen - CSS drawing and animation</span></a></p>
        </div>
          
          <div class="container">
            <div class="section-title">
              <h4><span class="bubble icon"><i class="material-icons">&#xE24B;</i></span> Charts</h4>
            </div>
            
            <div id="chart-skills"></div>
          </div>

          <div class="container">
            <div class="section-title">
              <h4><span class="bubble icon"><i class="material-icons">&#xE051;</i></span> Canvas Drawing</h4>
            </div>

            <p><a href="http://codepen.io/peeweemiwie/pens/public/" class="codepen link" target="_blank"><img src="images/logo-codepen.svg" alt="codepen icon" class="link-icon" title="A link to Miwa's codepen."  target="_blank"><span>View more on Codepen</span></a></p>

            <p data-height="369" data-theme-id="19622" data-slug-hash="OyEXGj" data-default-tab="result" data-user="peeweemiwie" class='codepen'>See the Pen <a href='http://codepen.io/peeweemiwie/pen/OyEXGj/'>Canvas drawing</a> by Miwa Yagi (<a href='http://codepen.io/peeweemiwie'>@peeweemiwie</a>) on <a href='http://codepen.io'>CodePen</a>.</p>

            <p data-height="445" data-theme-id="19622" data-slug-hash="YyvWmG" data-default-tab="result" data-user="peeweemiwie" data-preview="true" class="codepen">See the Pen <a href="http://codepen.io/peeweemiwie/pen/YyvWmG/">CSS-animation dice</a> by Miwa Yagi (<a href="http://codepen.io/peeweemiwie">@peeweemiwie</a>) on <a href="http://codepen.io">CodePen</a>.</p>


            <p data-height="235" data-theme-id="19622" data-slug-hash="JXWrdR" data-default-tab="result" data-user="peeweemiwie" class="codepen">See the Pen <a href="http://codepen.io/peeweemiwie/pen/JXWrdR/">JXWrdR</a> by Miwa Yagi (<a href="http://codepen.io/peeweemiwie">@peeweemiwie</a>) on <a href="http://codepen.io">CodePen</a>.</p>
          </div>
          


        </div>   
        <div class="col">
          <h3><i class="material-icons">create</i> Design</h3> 

          <p>They are slighly outdated as I have been focusing on coding rather than designing lately but I think you can get an idea.</p>
          <p>Hover over for more information.</p>
            
          <div class="image-container">
            <div  ng-repeat="item in portfolio" style="background-image: url(images/{{ item.url }});" tabindex="0" aria-labelledby="aria-{{$index+1}}">
              <p id="aria-{{$index+1}}">{{ item.text }}</p>
            </div>
          </div>

        </div>   
      </section>

<!-- ======================
bio page 
====================== -->

      <section class="page bio" id="bio">
        <h2>Bio</h2>
        <div class="col">
          <h3><i class="material-icons">face</i> Who is Miwa?</h3>
          <p><img src="https://lh3.googleusercontent.com/-8F259TtS_ac/AAAAAAAAAAI/AAAAAAAAA3k/_vnucGWVLOI/s120-c/photo.jpg" alt="" class="catbeard">In my personal life, 👹 I have many things that I am passionate about.😀</p>

          <p>First of all, I have been practicing yoga for over a decade. In 2008, I earned a 200 hours Hatha yoga teacher certification 💮 from Sivananda Yoga Institute. I currently practice at Integral Yoga Institute.🙏</p>

          <p>I also love cooking 🍳 and baking.🍰 I have immense love of sharing food I make with my friends and coworkers. <a href="#ref1"><sup>[1]</sup></a> My Oatmeal cookies 🍪 are irresistible!</p>

          <p>When the weather is nice out, 🌞 I enjoy hiking,🚶 camping ⛺ and swimming. 🏊 There is nothing like being surrounded by nature.🍃</p>

          <p>Giving back to our community 👪 is another passion of mine. 👍 I have contributed to numerous organizations for people with cancer 💐 and underprivileged children.🚸</p>

          <p>I reside in Roosevelt Island NYC 🚠 where I find it a very relaxing environment to live.🏡</p>

          <p>I adopted a cat 😺 recently. His name is Love who brightens my life.🐾</p>

          <p id="ref1" class="note">[1] I bring my delicious baked goods 🍩 to work 2-3 times a month.✨</p>
        </div>
        
        <div class="col">
          <h3><i class="material-icons">photo_library</i> Gallery</h3>
          <div class="photo-frame">
            <div class="img-wrapper" style="background-image: url(images/b-love.jpg)" alt="My cat"></div>
            <p>Love lounging in his truck.</p>
          </div>
          <div class="photo-frame">
            <div class="img-wrapper" style="background-image: url(images/b-love-bag.jpg)" alt="My cat"></div>
            <p>Shopaholic!</p>
          </div>
          <div class="photo-frame">
            <div class="img-wrapper" style="background-image: url(images/b-pomeg.jpg)" alt="Carving fruit"></div>
            <p>I love creating imaginary friends. Here is Mr. Pomeg.</p>
          </div>
          <div class="photo-frame">
            <div class="img-wrapper" style="background-image: url(images/b-clem.jpg)" alt="Carving fruit"></div>
            <p>This is Miss Clemie. She is my avatar on github.</p>
          </div>
          <div class="photo-frame">
            <div class="img-wrapper" style="background-image: url(images/b-choco-cake.jpg)" alt="Chocolate cake"></div>
            <p>My friend's birthday cake! 🎂 Nom nom nom...</p>
          </div>
          <div class="photo-frame">
            <div class="img-wrapper" style="background-image: url(images/b-bread.jpg)" alt="Cinnamon raisins walnuts bread"></div>
            <p>Cinnamon raisins walnut bread. It was so tasty!</p>
          </div>
        </div> 
      </section>

<!-- ======================
contact page 
====================== -->
      <section class="page contact" id="contact">
        <h2>Contact</h2>
        <div class="wrapper">
          <div class="col">
          <h3><i class="material-icons">contact_mail</i> Contact</h3>
          <p><a href="https://www.linkedin.com/in/miwayagi" class="linkedin link" target="_blank"><span>Please contact me via linkedIn.</span></a></p>
          <p lang="js"><a href="https://www.linkedin.com/in/miwayagi" class="linkedin link" target="_blank"><span>linkedInからメッセージを送ってください。</span></a></p>
          </div>
          <div class="bubble-wrapper" aria-hidden="true"></div>
        </div>
        
      </section>
      
    </main>
  </section>
</div>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <!-- build:js js/main.min.js -->
  <script src="app.js"></script>
  <script src="js/controllers.js"></script>
  <!-- endbuild -->
  <script src="js/d3.min.js" charset="utf-8"></script>
  <script src="js/barchart.js"></script>

  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  <script src="js/script.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-15830902-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
